body {
  font-family: sans-serif;
  padding: 20px;
}
input#searchBox {
  width: 100%;
  font-size: 18px;
  padding: 8px;
  margin-bottom: 20px;
}
#results div {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
